<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>明日科技</title>
</head>
<body class="bs-docs-home">
    <!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">明日学院</a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://www.mingrisoft.com/selfCourse.html">课程</a></li>
                    <li><a href="http://www.mingrisoft.com/book.html">读书</a></li>
                    <li><a href="http://www.mingrisoft.com/bbs.html">社区</a></li>
                    <li><a href="http://www.mingrisoft.com/servicecenter.html">A&amp;$</a></li>
                    <li><a href="/contact.html">联系我们</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Page content of course! -->
    <main class="bs-docs-masthead" id="content" tabindex="-1">
        <div class="container">
            <span class="bs-docs-booticon bs-docs-booticon-ig bs-docs-booticon-outline">MR</span>
            <p class="lead">明日学院，是吉林省明日科技有限公司倾力打造的在线实用技能学习平台，该平台于 2016 年正式上线，主要为学习者提供海量、优质的课程，课程结构严谨，用户可以根据自身的学习程度，自主安排学习进度。我们的宗旨是，为编程学习者提供一站式服务，培养用户的编程思维。</p>
            <p class="lead">
                <a href="./contact.html" class="btn btn-outline-inverse btn-lg">联系我们</a>
            </p>
        </div>
    </main>
</body>
</html>